@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url(https://fonts.googleapis.com/css?family=Roboto);


.head {

  border: none;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  text-align: center;
  cursor: default;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  background-color: #222;
  padding: 17px 60px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

/* A PARTIR DAQUI JA NAO ALTEREI */
.center {
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -20px;
  background-color: #ff9a53;
  color: white;
  box-shadow: 4px 4px 0px 1px #e7e7e7;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: url("../resources/backgrounds/background2.png") 50% -150px no-repeat;
  font-family: 'Roboto', sans-serif;
}

.menu {
  background-color: #ff9a53;
  font-size: 20px;
  border: none;
  text-align: center;
  padding: 1em 2em;
  cursor: pointer;
}

.menu a {
  text-decoration: none;
  color: #5fb2b4;
}

.menu a:hover {
  color: white;
}

.rightFoot {
  position: absolute;
  right: 0;
  bottom: 0;
}


/* PARALLAX CSS*/

#awesome {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  padding: 2.2em 3em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

#awesome::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(135deg, #5fb2b4, #4c8e90);
  border-radius: 4px;
  transition: box-shadow .5s ease, -webkit-transform .2s ease;
  transition: box-shadow .5s ease, transform .2s ease;
  transition: box-shadow .5s ease, transform .2s ease, -webkit-transform .2s ease;
  will-change: transform;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
  transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
}

#awesome:hover::before {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#awesome::after {
  position: relative;
  display: inline-block;
  /*content: url('../resources/icons/car2.png') attr(data-title);*/
  content: attr(data-title);
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  font-weight: bold;
  letter-spacing: .01em;
  will-change: transform;
  -webkit-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
  transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
}

/***MOBILE BUTTON***/

#mobileVersion {
  font-weight: bold;
}

.fuller-button {
  color: white;
  background: none;
  border-radius: 0;
  padding: 1.2em 5em;
  letter-spacing: 0.35em;
  font-size: 0.7em;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  margin: 1em;
}

.fuller-button.blue {
  box-shadow: inset 0 0 1em rgba(0, 170, 170, 0.5), 0 0 1em rgba(0, 170, 170, 0.5);
  border: #0dd solid 2px;
}

.fuller-button.blue:hover {
  background-color: #0dd;
  box-shadow: inset 0 0 0 rgba(0, 170, 170, 0.5), 0 0 1.5em rgba(0, 170, 170, 0.7);
  cursor: pointer;
}

/* USAR ESTE OU AWESOME */

.btn {

  border: none;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  cursor: none;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {

  position: relative;
  z-index: 1;
}

.btn:after {

  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #5fb2b4;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {

  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: relative;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: 0.6s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
